@import "vars";
@import "reset";
@import "fonts";
@import "global";

.header {
  &__content {
    display: flex;
    align-items: center;
  }
  &__content-inner {
    background-image: url(/images/hero-img.jpg);
    width: 50%;
    border-right: 1px solid $text-black;
    overflow: hidden;
    min-height: calc(100vh - 180px);
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__content-text {
    color: $text-black;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  &__content-subtitle {
    @extend %Cantarell-400;
    font-size: 26px;
    letter-spacing: 5px;
    line-height: 60px;
  }
}
