@import "vars";
@import "reset";
@import "fonts";
@import "global";

.header {
  &__content {
    display: flex;
    align-items: center;
  }
  &__content-inner {
    background-image: url(/images/hero-img.jpg);
    width: 50%;
    border-right: 1px solid $text-black;
    overflow: hidden;
    min-height: calc(100vh - 180px);
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__content-text {
    color: $text-black;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  &__content-subtitle {
    @extend %Cantarell-400;
    font-size: 26px;
    letter-spacing: 5px;
    line-height: 60px;
  }
}

.works {
  &__content {
    display: flex;
  }
  &__cover {
    width: 50%;
    min-height: calc(100vh - 80px);
    object-fit: cover;
    &--julia {
      height: 100%;
      width: 50%;
    }
  }
  &__title-city {
    margin-bottom: 170px;
  }
  &__info {
    padding-left: 30px;
    width: 50%;
    margin-top: 78px;
  }
  &__top {
    display: flex;
    justify-content: space-between
  }
  &__links a{
    text-decoration: none;
  }
  &__text {
    @extend %Roboto-400;
    font-size: 30px;
    color: $text-grey;
    margin-bottom: 30px;
  }
  &__images {
    --gap: 20px;
    --num-cols: 2;
    --row-height: 188px;

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
    &--julia {
      --row-height: 408px;
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .image-grid-row-2 {
    grid-row: span 2;
  }
}


.about {
  padding-bottom: 100px;
  &__inner {
    margin-top: 80px;
    display: flex;
  }
  &__cover {
    width: 50%;
    height: 100%;
    margin-right: 60px;
  }
  &__title {
    margin-top: 220px;
  }
  &__text-item {
    @extend %Roboto-400;
    font-size: 30px;
    line-height: 120%;
    color: $text-black;
    margin-bottom: 20px;
  }
  &__text-item a {
    text-decoration: none;
    color: $text-black;
    font-weight: 700;
  }
}

.contact {
  &__inner {
    background-image: url('/images/contact-img.jpg');
    background-repeat: repeat;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 50%;
    height: 100vh;
  }
  &__text {
    padding-top: 140px;
    display: flex;
    flex-direction: column;
    padding-left: 200px;
  }
  &__title {
    max-width: 230px;
    border-bottom: 2px solid $text-black;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 50px;
    text-align: left;
  }
  &__content {
    @extend %Roboto-400;
    font-size: 30px;
    display: flex;
    flex-direction: column;     
  }
  &__content a {
    text-decoration: none;
    color: $text-black;
  }
  &__mail {
    margin-bottom: 30px;
  }
  &__bottom {
    border-top: 1px solid $text-black;
    width: 100%;
    margin-top: 150px;
  }
  &__bottom-inner {
    padding: 40px 0;
    padding-left: 200px;
  }
  &__bottom-link {
    text-decoration: none;
    transition: all .3s ease-in-out;
    &:hover{
      opacity: 90%;
    }
    &--facebook {
      margin: 0 50px;
      text-decoration: none;
      transition: all .3s ease-in-out;
      &:hover {
        opacity: 80%;
      }
    }
  }
}